.fejléc{
  position:relative;
  text-align:center;
  font-family: 'Baskervville', serif;
  font-size:40px;
}
.cím1{
  position:absolute;
  top:150px;
  left:120px;
  right:500px;
}
.cím2{
  position:absolute;
  top:170px;
  left:120px;
  right:300px;
  font-size:60px;
}
.content{
  max-width:700px;
  margin-right:auto;
  margin-left:auto;
  font-family: 'Open Sans Condensed', sans-serif;
  color:
  font-size:20px;
}
h2{
  text-transform:uppercase;
  margin-top:30px;
  margin-bottom:45px;
}
h3{
  margin-bottom:0;
}
h4{
  margin-top:0;
  margin-bottom:0;
}
ul{
  list-style-type: square;
}
hr{
  border:2px solid black;
}
.idezet{
  background-color:#545352;
  color:white;
  font-size: 48px;
  font-family: 'Open Sans Condensed', sans-serif;
  padding:1px;
  position:relative;
}
blockquote::before {
  content: '”';
  position:absolute;
  bottom:50px;
  left:10px; 
  font-size:100px;
}
blockquote.idezet3::before {
  content: '”';
  position:absolute;
  bottom:115px;
  left:10px; 
  font-size:100px;
}